/* FORM CSS */

.form {
  background-color: white;
  margin: 1rem auto 1rem auto;
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 3px solid #766df4;
  border: 2px solid #766df4;
  padding: 1rem 0 1rem 0;
}

.form_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  padding: 0 2rem 0 2rem;
}

.form_header .toggler {
  font-size: 1.5rem;
  cursor: pointer;
}

.form_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

form div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form p {
  font-size: 1rem;
}

.form select {
  font-size: 1rem;
  width: 8rem;
  height: 1.5rem;
}

.form button,
.new-game {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background-color: #766df4;
  border: 1px solid #057fd0;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.4rem;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
  width: auto;
}
