.question {
  background-color: white;
  margin: 1rem auto 1rem auto;
  width: 60vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: 5px solid #766df4;
}

.question_number {
  font-size: 1rem;
}
.question_number span {
  font-size: 1.5rem;
  color: green;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.text {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
}
.answers {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answers ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  padding: 0;
}

.answers li {
  list-style: none;
  color: black;
  font-size: 1rem;
  background-color: #f2f2f2;
  padding: 0.5rem;
  width: 80%;
  text-align: center;
  cursor: pointer;
}

.answers li:hover {
  background-color: #ccc9ef;
}

.navigation {
  margin: 0 auto 0 auto;
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  background-color: white;
  gap: 10rem;
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem 0 0.5rem 0;
}

.navigation button {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background-color: #766df4;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
  width: 6rem;
}
.navigation button:hover {
  background-color: #019ad2;
}
.navigation button:active {
  position: relative;
  top: 1px;
}
