@import-normalize;

.navigation {
  margin: 0 auto 0 auto;
  width: 80vw;
  height: 20%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  background-color: white;
  gap: 10rem;
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem 0 0.5rem 0;
}

.navigation button {
  background-color: black;
  color: white;
  width: 6rem;
}
